body {
  background-color: rgb(66,28,82);
  color: rgb(0,0,0);
  text-align: left;


}
* {
  margin:0px;
  padding:0px;
}

#content{
  text-align: right;

}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
