body {
  background-color: rgb(65,27,81);
  color: rgb(255,255,255);
  text-align: left;


}
* {
  margin:0px;
  padding:0px;
}

#content{
 
}
  
#top {
  display: flex;
  font-size: 50px;
  font-family: 'DotGothic16', sans-serif;
  justify-content: center;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #00FFFF;
}

.introtxt{
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
}
#intro {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  text-align:center;

  
}

.rover{
  display:flex;
  justify-content: center;
  height: 600px;

}

.row{
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;

}

.left_txt{
  flex: 70%;
  font-size:20px;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  justify-content:left;
  letter-spacing:1px;
}

.right_stuff{
  flex: 20%;
  padding 5px;
  justify-content:center;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
    justify-content: center;
  }
